@media (max-width: 512px) {
  body {
    background-color: white;
  }
  .login-div {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
  }

  header {
    padding-left: 3.2rem;
    background-color: white;
    display: flex;
    justify-content: start;
  }

  .devlink-div {
    margin-top: 3.2rem;
    margin-bottom: 2.4rem;
  }

  main {
    border-radius: 0;
    padding: 3.2rem;
  }

  .log-strong {
    font-size: 2.4rem;
  }
  .icon {
    margin-top: -3.2rem;
    left: 4.8rem;
  }

  .question {
    text-align: center;
  }

  .create {
    text-align: center;
    display: block;
  }
<<<<<<< HEAD
  .email-err {
    top: 50%;
  }

  .password-err {
    top: 65.5%;
  }
}

@media (min-width: 513px) and (max-width: 841px) {
  .email-err {
    top: 52%;
  }

  .password-err {
    top: 68%;
  }
=======
>>>>>>> 5c3bf4d2a33aea991519ec844c0eaa7e04c2657b
}
