@media(max-width: 512px){

    body{
        background: #fff;
    }

    .purple{
        background-color: #fff;
    }

    .share{
        margin: 0;
    }

    .profile{
        top: 138px;
        box-shadow: none;
    }




}