<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" type="image/png" sizes="32x32" href="./assets/images/favicon-32x32.png">
  <link rel="stylesheet" href="../styles/general.css">
  <link rel="stylesheet" href="../styles/preview.css">
  <link rel="stylesheet" href="../styles/mobile/preview-mobile.css">
  <script src="../js/preview.js" defer></script>
  <title>Frontend Mentor | Link-sharing app</title>
</head>

<body>
  <div class="purple">
    <div class="share">
      <a href="./empty.html" class="Back-to-editor">Back to Editor</a>
      <button class="share-link">Share Link</button>
    </div>
  </div>

  <div class="profile">
    <div class="profile-details">
      <div class="avatar"></div>
      <h2></h2>
      <p></p>
    </div>

    <div class="wrapper">
    </div>
  </div>
</body>

</html>