/* style guide
--colors
Purple:#633CFF
Purple-hover: #BEADFF
Light-purple:#EFEBFF
Dark-grey:#333333
Grey:#737373
Borders-color:#D9D9D9
Light-grey:#FAFAFA,
White:#FFFFFF
Red:#FF3939
*/
@font-face {
  font-family: "instrumentsans";
  font-weight: 400;
  src: url("../assets/fonts/instrumentsans-variablefont_wdthwght-webfont.woff2")
      format("woff2"),
    url("../assets/fonts/instrumentsans-variablefont_wdthwght-webfont.woff")
      format("woff");
}
@font-face {
  font-family: "instrumentsans";
  font-style: italic;
  src: url("../assets/fonts/instrumentsans-italic-variablefont_wdthwght-webfont.woff2")
      format("woff2"),
    url("../assets/fonts/instrumentsans-italic-variablefont_wdthwght-webfont.woff")
      format("woff");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #fafafa;
  font-family: "instrumentsans";
}
